extends layout.pug 

block content
    div.card(style="width: 500px; padding: 20px; margin: 0 auto; margin-top: 50px")
        div.card-body 
            h3.card-title(style="margin-top: 10px;margin-bottom: 20px;") Usuarios 
            form(action="/users", method="POST")
                
                div.form-outline
                    input#name.form-control(type="text", name="name", required)
                    label.form-label(for="name") Nombre:

                br

                div.form-outline
                    input#email.form-control(type="email", name="email", required)
                    label.form-label(for="email") Email:
                
                br

                div.form-outline
                    input#password.form-control(type="password", name="password", required)
                    label.form-label(for="password") Contraseña:
                br

                button.btn.btn-primary(type="submit") Crear usuario 

                if (typeof errors !== 'undefined' && errors.length > 0) 
                    ul.list-group.list-group-light(style="width: 420px; margin-top: 30px;") 
                        each error in errors
                            li.list-group-item.px-3.border-0.rounded-3.list-group-item-danger.mb-2= error.msg

    if flash.success 
        ul.list-group.list-group-light(style="width: 500px; padding: 10px; margin: 0 auto; margin-top: 20px")
            li.list-group-item.px-3.border-0.rounded-3.list-group-item-primary.mb-2.success= flash.success 
    else if flash.error 
        ul.list-group.list-group-light
            li.list-group-item.px-3.border-0.rounded-3.list-group-item-danger.mb-2.error= flash.error 

    div.card(style="width: 800px; margin: 0 auto; margin-top: 50px")
        div.card-body
            h3.card-title(style="margin-top: 10px;margin-bottom: 20px;") Lista de Usuarios
            ul.list-group.list-group-light 
                each user in users
                    li.list-group-item= `${user.name} (${user.email})`
                        button.btn.btn-link(data-mdb-ripple-color="dark", style="margin-left:30px")
                            a(href=`/users/edit/${user._id}`) Editar
                        button.btn.btn-link(data-mdb-ripple-color="dark")
                            a(href=`/users/delete/${user._id}`) Eliminar